<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parallax Demo Site</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />


</head>
<body>
   <div id="nav">
    <div id="headline">
      Justin Yee Web Dev
    </div>
    <div id="icons">
       <%=link_to image_tag('github.png', class: 'contactimg'), 'http://www.github.com/juxtaposeidon', :target => '_blank'%>
       <%=link_to image_tag('linkedin.png', class: 'contactimg'), 'http://www.linkedin.com/in/justinckyee', :target => '_blank'%>
       <%=link_to image_tag('email.png', class: 'contactimg'), 'mailto:jy243@cornell.edu', :target => '_blank' %>
     </div>
   </div>

    <div id="wall_1" class="image" data-stellar-background-ratio="0.4" ></div>
    <div class="content1">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
    <div id="wall_2" class="image" data-stellar-background-ratio="0.4"  ></div>
    <div class="content2" >


    <div id="overlay" class="overlay"></div>
      <h1>Projects</h1>

    <div id="projectbanners">
      <%=image_tag('pickup.png', class: 'project', id: 'Pick Up')%>
      <%=image_tag('mtgdrafter.png', class: 'project', id: 'Magic Limited Simulator')%>
      <%=image_tag('sfart.png', class: 'project', id: 'SF Open Art')%>
    </div>

    <div id="projecttext">
    </div>

    </div>
    <div id="wall_3" class="image" data-stellar-background-ratio="0.4"  ></div>



</body>
</html>
